html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
  font-family: 'Merriweather', serif;
}
