html {
  font-family: Merriweather, serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Merriweather, serif;
  font-style: italic;
  padding-top: 5px;
}

main {
  padding-top: 5px;
}

header h1 {
  padding-left: 10px;
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
  font-family: Merriweather, serif;
  font-weight: lighter;
}

main img {
  width: 100%;
  color: #fff;
}

.banner-text {
  position: relative;
  color: #fff;
  width: 100%;
  font-weight: lighter;
}

.banner-text h2 {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.banner-text p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-style: italic;
  font-family: Merriweather, serif;
  font-size: 1rem;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.flex-box figure {
  margin: 0;
}

.figure2 {
  padding: 0 0.5rem;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Merriweather;
}
